# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.

# dependencies
/ui-services/node_modules
/ui-services/.pnp
/ui-services/.pnp.js

# testing
/ui-services/coverage

# production
/ui-services/build

# misc
/ui-services/.DS_Store
/ui-services/.env.local
/ui-services/.env.development.local
/ui-services/.env.test.local
/ui-services/.env.production.local

/ui-services/npm-debug.log*
/ui-services/yarn-debug.log*
/ui-services/yarn-error.log*
ui-services/package-lock.json

target/
.idea/
node_modules/
*yarn.lock*
.classpath
.factorypath
.project
.settings/