.App {
  text-align: center;
}

nav {
  display: flex;
  justify-content: space-around;
  align-items: center;
  min-height: 10vh;
  background: rgb(28, 152, 194);
}

/* p {
  display: inline-block;
} */

/* .contact {
  display: inline-block;
  width: 1400px;
  text-align: left;
}​ */

.nav-links {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  list-style: none;
}

.share-contact {
  border: '7px ridge red';
  width: '1425px';
  padding: '10px'; 
  float: 'left';
  margin-left: "2%"; 
  margin-top: 0;
  padding: 0;
}
